/*========================================================
        DARK LAYOUT
=========================================================*/

.colors-list li {
  padding: 0.4rem;
}

.colors-list li i {
  font-size: 1.2rem;
  top: 2px;
  position: relative;
  margin-right: 0.25rem;
}

